body {
    margin: 0px;
}

nav {
    display: flex;
    background-color: #a855f7;
    font-family: Arial, Helvetica, sans-serif;    
}

nav ul {
    overflow: auto;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 4px 8px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    font-size: 24px;
    line-height: 32px;
}

nav ul li a:hover{
    background-color: white;
    color: #a855f7;
    border-radius: 16px;
}