.head {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 500;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

img {
    margin: 50px 279px;
    border: 5px solid;
    border-radius: 5px;
    padding: 10px;
    border-color:  #a855f7;
}

.tail {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}