body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 640px;
    margin: 80px auto;
    border: 4px solid;
    border-color: #7e22ce;
    border-radius: 20px;
    text-align: center;
}

.top {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    padding-bottom: 1px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto;
    padding: 1px 5px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px 5px;
}

input[type="text"]::placeholder {
    text-align: start;
}

input[type="text"] {
    text-align: start;
}

input[type="email"]::placeholder {
    text-align: start;
}

input[type="password"]::placeholder {
    text-align: left;
}

#grid-item {
    border: 2px solid #a855f7;
    border-radius: 10px;
    outline: none;
    padding: 10px 5px;
    font-size: 15px;
    margin: 5px
}

button {
    justify-content: center;
}

.button {
    margin-top: 30px;
    background-color: #a855f7;
    color: white;
    font-size: larger;
    padding: 8px 8px;
    border-radius: 8px;
    border: 2px solid;
    border-color: white;
}

.button:hover {
    color: #7e22ce;
    background-color: white;
    border-color: #7e22ce;
    border-radius: 10px;
    transition: all 0.4s ease-out;
}

.link {
    margin-top: 40px;
}

.link a {
    text-decoration: none;
    color: #a855f7;
    font-weight: bold;
}

.link a:hover {
    color: #7e22ce;
    transition: all 0.4s ease-out;
}