.table {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 208px;
    max-height: 380px;
    object-fit: cover;
    margin: 20px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    border-radius: 10px;
    border-color: #a855f7;
    box-shadow: 0 0 20px #a855f7;
}

.card p {
    margin: 2px 2px;
}

.card img {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.price {
    color: grey;
    font-size: 15px;
}

.card button {
    border: 2px solid;
    outline: 0;
    padding: 10px 5px;
    color: white;
    background-color: #a855f7;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
}

.card button:hover {
    color: #7e22ce;
    background-color: white;
    
    
    transition: all 0.4s ease-out;
}